@charset "UTF-8";


h1{
    text-align: center;
}

caption{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
}

tbody > tr:nth-child(odd){
    background-color: rgb(179, 177, 177);

}

thead > tr > th{
    position: sticky;
    top: -1px;
    color: white;
    background-color: black;
}

th, td{
    border: 1px solid black;
    padding: 10px;
}

table{
    margin: auto;
    border-collapse: collapse;
    max-width: 550px;
}

.number{
    text-align: right;
}

.position{
    text-align: center;
}

.state{
    color: blue;
}

.state:hover{
    text-decoration: underline;
}

